<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="myproject.kehamilanku">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:icon,android:appComponentFactory"
        android:appComponentFactory="whateverString"
        >
        <activity android:name=".activity.ListVideoSenamActivity"
            android:label="Video Senam"></activity>
        <activity
            android:name=".admin.UbahTipsKehamilan"
            android:label="Ubah Data" />
        <activity
            android:name=".activity.DetailTipsKehamilan"
            android:label="Tips Kehamilan" />
        <activity
            android:name=".admin.AddTipsActivity"
            android:label="Tambah Tips" />
        <activity
            android:name=".activity.PanelAdminActivity"
            android:label="Panel Admin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>